@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --footer-primary-color: rgb(9 9 11);
    --footer-secondary-color: rgb(156 163 175);
    --scroll: 1;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fontGrad{
    background: -webkit-linear-gradient(rgb(250 204 21), rgb(202 138 4));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fadeWhite{
    background: linear-gradient(0deg, rgba(255,255,255,1) 25%, rgba(0,212,255,0) 100%);
  }

  .transformx{
    
    transform: translate3d(0,0,0);
  }

  .clipp{
    clip-path: inset(0);
  }